body{
    text-align: center; 
    background-color: rgb(255, 196, 0);
}
.heading{
    text-transform: uppercase;
    font-family: monospace;
    font-weight:bold;
    letter-spacing:0.2rem;
}
 ul{
    padding: 10px;
   margin-left: 20em;
   margin-right:  20em;
    border-top:5px solid rgba(144, 0, 255, 0.197);
    
    border-bottom:5px solid black;
} 

.Froggy{
color:rgba(115, 0, 255, 0.432)
}

li{
    display:inline;
    text-transform:uppercase; 
    padding: 20px;
}    

.Volcano img{
    padding-bottom: 8px;
}

.Tree{
text-align:center;
margin-left:390px;
margin-right:390px;
}


@media screen and (max-width: 600px) {
    li{
        display: block;
    }
    ul{
        padding: 0px;
        margin-left: 0em;
   margin-right:  0em;
    }

   .Tree{
    margin-left:0px;
    margin-right:0px; 
   }
    }











